@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.header-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100vh;
}

.header-link-container {
    padding: auto;
    display: grid;
}

.header-link {
    position: relative;
    margin: 0.5em 1.5em;
    color: #ADBED2;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Fira Code';
    font-weight: 500;
    letter-spacing: 0.15em;
}

.header-link:hover {
    left: 0.3em;
}